.root {
    -fx-accent: #dc143c;
    -fx-focus-color: #dc143c;
    -fx-color: -fx-base;
    -fx-background-color: #e5e7ea;
}

.std_btn {
    -fx-pref-width: 180px;
    -fx-pref-height: 60px;
    -fx-font: 20px System;
    -fx-color: #394860;
}

#prompt {
    -fx-font: 24px System;
}

#diag {
    -fx-font: 20px System;
    -fx-color: #a5f006;
}